<footer class="{% if site.footer_fixed %}site-footer-fixed{% else %}site-footer-page{% endif %}" role="contentinfo">
  <div class="container">
    <span>&copy; 2026 by Solomon MRI lab. All rights reserved.</span>
  </div>
</footer>
